@model Repository.Models.Product

<form method="post" enctype="multipart/form-data">
    <input asp-for="Image" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Product</h2>
            <br />
        </div>
        <div class="mb-3">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="InStock"></label>
            <input asp-for="InStock" class="form-control" />
            <span asp-validation-for="InStock" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div><div class="mb-3">
            <label asp-for="Color"></label>
            <input asp-for="Color" class="form-control" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        @*<div class="mb-3">
            <label asp-for="Size"></label>
            <input asp-for="Size" class="form-control" />
            <span asp-validation-for="Size" class="text-danger"></span>
            </div>*@
        <div class="mb-3 col-6">
            <label asp-for="Size"></label>
            <select asp-for="Size" asp-items="ViewBag.Size" class="form-select">
                <option disabled selected>--Select Size--</option>
            </select>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.Category" class="form-select">
                <option disabled selected>--select category--</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <label asp-for="Image"></label>
        <input type="file" id="uploadBox" name="file" class="form-control" />
        <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>



</form>

}